.heading-design {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
}

.heading-design:hover {
    background-color: #ff9800;
    border-bottom: solid 1px #ff9800;
}

.heading-prog {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.heading-prog:hover {
    color: #eeeeee;
    background-color: #212121;
    border-bottom: solid 1px #212121;
}

.heading-music {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
}

.heading-music:hover {
    background-color: #ff6f61;
    border-bottom: solid 1px #ff6f61;
}

.tab-content {
    display: none;
}

.left-content {
    padding-left: 4rem;
    padding-top: 4rem;
    font-size: 3.75rem;
}

.right-content {
    padding-left: 4rem;
    padding-top: 4rem;
}

.img-custwidth {
    padding-top: 4rem;
    width: 512px;
}


/* mouse tracker */
.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(7, 40px);
    grid-gap: 1.5rem;
  }
  .wrapper .item {
    background-color:  #ff9800;
  }


  /*resources*/ 
  @media (min-width: auto) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}
img,
a {
    display: block;
    height: 100%;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
  
.grid {
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.grid li {
    position: relative;
}
.grid li:hover ~ li:last-child:after,
.grid li:last-child:hover:after,
.grid li:hover ~ li:last-child:before,
.grid li:last-child:hover:before {
    opacity: 1;
    transition: 1s ease;
}
.grid li:last-child:after,
.grid li:last-child:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    clip-path: polygon(var(--offset) var(--offset), var(--offset) calc(100% - var(--offset)), calc(100% - var(--offset)) calc(100% - var(--offset)), calc(100% - var(--offset)) var(--offset));
    -webkit-clip-path: polygon(var(--offset) var(--offset), var(--offset) calc(100% - var(--offset)), calc(100% - var(--offset)) calc(100% - var(--offset)), calc(100% - var(--offset)) var(--offset));
    opacity: 0;
    transition: opacity 1s, transform 1s 1s, background 1s;
}
.grid li:last-child:after {
    mix-blend-mode: multiply;
    background: #aaafc3;
}
.grid li:last-child:before {
    backdrop-filter: grayscale(100%) blur(2px);
    -webkit-backdrop-filter: grayscale(100%) blur(2px);
}
.grid li:nth-child(1):hover ~ li:last-child:after {
    background: #b683b8;
}
.grid li:nth-child(2):hover ~ li:last-child:after {
    background: #608bd1;
}
.grid li:nth-child(3):hover ~ li:last-child:after {
    background: #5362e9;
}
.grid li:nth-child(4):hover ~ li:last-child:after {
    background: #c06161;
}
.grid li:nth-child(5):hover ~ li:last-child:after {
    background: #A5D6A7;
}
/*.grid li:nth-child(6):hover ~ li:last-child:after {
    background: #6c4331;
}
.grid li:nth-child(7):hover ~ li:last-child:after {
    background: #555;
}
.grid li:last-child:hover:after {
    background: #a88504;
}*/

.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33.3333333333%);
}
.grid li:last-child:after,
.grid li:last-child:before {
    left: 100%;
    transform: translate3d(-100%, -100%, 0);
}
.grid li:nth-child(1):hover ~ li:last-child:after,
.grid li:nth-child(1):hover ~ li:last-child:before {
    transform: translate3d(-200%, -200%, 0);
}
.grid li:nth-child(2):hover ~ li:last-child:after,
.grid li:nth-child(2):hover ~ li:last-child:before {
    transform: translate3d(-100%, -200%, 0);
}
.grid li:nth-child(3):hover ~ li:last-child:after,
.grid li:nth-child(3):hover ~ li:last-child:before {
    transform: translate3d(0%, -200%, 0);
}
.grid li:nth-child(4):hover ~ li:last-child:after,
.grid li:nth-child(4):hover ~ li:last-child:before {
    transform: translate3d(-200%, -100%, 0);
}
.grid li:nth-child(5):hover ~ li:last-child:after,
.grid li:nth-child(5):hover ~ li:last-child:before {
    transform: translate3d(-100%, -100%, 0);
}
.grid li:nth-child(6):hover ~ li:last-child:after,
.grid li:nth-child(6):hover ~ li:last-child:before {
    transform: translate3d(0%, -100%, 0);
}
.grid li:nth-child(7):hover ~ li:last-child:after,
.grid li:nth-child(7):hover ~ li:last-child:before {
    transform: translate3d(-200%, 0%, 0);
}
.grid li:last-child:hover:after,
.grid li:last-child:hover:before {
    transform: translate3d(-100%, 0%, 0);
}

@media (max-width: 60em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 25%);
    }
    .grid li:last-child:after,
    .grid li:last-child:before {
        left: 0%;
        transform: translate3d(-50%, -150%, 0);
    }
    .grid li:nth-child(1):hover ~ li:last-child:after,
    .grid li:nth-child(1):hover ~ li:last-child:before {
        transform: translate3d(-100%, -300%, 0);
    }
    .grid li:nth-child(2):hover ~ li:last-child:after,
    .grid li:nth-child(2):hover ~ li:last-child:before {
        transform: translate3d(0%, -300%, 0);
    }
    .grid li:nth-child(3):hover ~ li:last-child:after,
    .grid li:nth-child(3):hover ~ li:last-child:before {
        transform: translate3d(-100%, -200%, 0);
    }
    .grid li:nth-child(4):hover ~ li:last-child:after,
    .grid li:nth-child(4):hover ~ li:last-child:before {
        transform: translate3d(0%, -200%, 0);
    }
    .grid li:nth-child(5):hover ~ li:last-child:after,
    .grid li:nth-child(5):hover ~ li:last-child:before {
        transform: translate3d(-100%, -100%, 0);
    }
    .grid li:nth-child(6):hover ~ li:last-child:after,
    .grid li:nth-child(6):hover ~ li:last-child:before {
        transform: translate3d(0%, -100%, 0);
    }
    .grid li:nth-child(7):hover ~ li:last-child:after,
    .grid li:nth-child(7):hover ~ li:last-child:before {
        transform: translate3d(-100%, 0%, 0);
    }
    .grid li:last-child:hover:after,
    .grid li:last-child:hover:before {
        transform: translate3d(0%, 0%, 0);
    }

    :root {
        --offset: 0;
    }
}
.description {
    font-family: "Unica One", sans-serif;
    font-size: 1.25rem;
    position: absolute;
    display: block;
    right: 2rem;
    left: 2rem;
    text-align: center;
    top: 50%;
    width: 60px;
    margin: auto;
    color: white;
    z-index: 100;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition: 0.3s 0s;
}

li:hover .description {
    opacity: 1;
    transition: 0.6s 0.3s;
}

header {
    padding: 1rem;
    font-family: "Courier New", monospace, serif;
    font-size: 1em;
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.4;
}

mark { 
    background-color: rgb(171, 255, 154);
    color: black;
}
my_mark { 
    background-color: #ff6f61;
    color: black;
}
